# Node
node_modules/

# Astro
.astro/

# Build
dist/
public/deploy-version.txt

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Betriebssystem
.DS_Store
Thumbs.db

# VS Code
.vscode/

# JetBrains
.idea/

# Environment
.env
.env.*
