<button class="hamburger" type="button" aria-label="Menü öffnen" aria-controls="mobile-menu" aria-expanded="false" data-menu-open>
  <span class="hamburger__lines" aria-hidden="true"><i></i><i></i><i></i></span>
  <span class="hamburger__label">Menü</span>
</button>
